<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IFileSystemService" type="Common.IO.Interfaces.IFileSystemService, Common.IO.Interfaces"/>    
    <alias alias="HttpFileSystemService" type="Common.IO.HttpFileSystemService, Common.IO"/>
    <alias alias="IHttpPost" type="Common.Net.Interfaces.IHttpPost, Common.Net.Interfaces"/>
    <alias alias="HttpPost" type="Common.Net.HttpPost, Common.Net"/>
    <container>
      <register type="IFileSystemService" mapTo="HttpFileSystemService"/>
      <register type="IHttpPost" mapTo="HttpPost"/>
    </container>
  </unity>
</configuration>